/************************************* CARD *************************************/
.conteudo{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;

    gap:25px;
    margin-bottom:30px;

    min-height: 600px;
    padding: 20px;

    /*background-color: gray;*/
}

/************************************* CARD INDIVIDUAL *************************************/
.itens{
    display: flex;
    flex-direction: column;

    width: 600px;
    height: 100%;

    background-color: dimgray;
}

/************************************* TITULO *************************************/
.titulo{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 26px;
    font-family: "Yu Gothic UI Semibold";

    border-bottom: rgb(0, 0, 0, 0.1) solid;

    width: 100%;
    height: 10%;

    background-color: darkred;

    color: oklch(13% 0.028 261.692);

    &:hover{
        color: white;
        cursor: pointer;
        transition: .4s;
    }
}

/************************************* UL CATEGORIAS *************************************/
.categorias{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;

    width: 100%;

    padding: 5px;
    gap: 25px;

    background-color: oklch(44.2% 0.017 285.786);
    color: oklch(13% 0.028 261.692);
}

/************************************* IMAGEM E DESCRIÇÃO *************************************/
.conteudo-card{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

/************************************* IMAGEM *************************************/
.ladoEsquerdo{
    width: 50%;
    padding: 10px;

    img{
       width: 100%;
       height: auto;

       border-radius: 8px;

       transition: 0.3s;

        &:hover{
            transform: scale(1.04);
            transition: 0.3s;
        }

    }

}

/************************************* DESCRIÇÃO *************************************/
.ladoDireito{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    padding: 10px;
    gap: 10px;

    width: 50%;

    /*background-color: #f5c518;*/

    h3{
        font-size: 17px;

    }

    a{
        color: darkred;

        /*text-decoration: underline;*/
        transition: 0.4s;

        font-size: 16px;

        margin-right: 5px;

        &:hover{
            color: white;
            cursor: pointer;
        }
    }

    a + a::before{
        content: " · ";
        color: darkred;
    }

    h4{
        font-size: 25px;
        text-align: center;
    }

    .sinopse{
        display: block;

        width: 100%;
        height: auto;

        justify-content: center;

        box-sizing: border-box;

        padding: 10px;

        overflow-y: auto;

    }

    p{
        font-family: "Arial", sans-serif;
        color: oklch(13% 0.028 261.692);
        font-size: 11pt;
        text-align: justify;
        line-height: 1.5;

    }

}

/************************************* RODAPE *************************************/
.rodape{

    display: flex;
    gap: 10px;

    background-color: oklch(44.2% 0.017 285.786);


    a img{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        opacity: 0.8;

    }

    a img:hover{
        opacity: 1;
        transition: .4s;
        transform: scale(1.2);

    }

    h5{
        color: oklch(13% 0.028 261.692);

        display: flex;
        justify-content: flex-start;
        align-items: center;

        padding: 10px;

        font-size: 25px;
    }

}

hr{
    border: none;
    background-color: gray;
    height: 1px;
}

/************************************* MEDIA QUERY *************************************/
@media(max-width:1400px){

    .conteudo{

        flex-wrap:wrap;

    }

}

@media(max-width:700px){

    .conteudo-card{

        flex-direction:column;

    }

    .ladoEsquerdo,

    .ladoDireito{

        width:100%;

    }

}




