/*Configurações da margin e padding do site inteiro*/
*{
    margin: 0;
    padding: 0;
}

body{
    /*background-color: oklch(21% 0.006 285.885);*/
    background-color: oklch(27.4% 0.006 286.033);
}

/*Configuração do span da logo*/
span{
    color: darkred;
    /*font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;*/
}

a{
    text-decoration: none;
}

a:hover{
    /*text-decoration: underline;*/
    opacity: 1;
}

/*Configurações da logo*/
.logo{
    color: white;
    font-size: 45px;
    margin-left: 35px;
    letter-spacing: 1.5px;
    font-family: "Yu Gothic UI Semibold";
    /*align-items: center;*/
}

.logo-list{
    color: white;
    opacity: 0.6;
}

/*Configurações da barra de navegação*/
nav{
    display: flex;
    /*background-color: darkslategray;*/
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), transparent);
    /*justify-content: space-around;*/
    align-items: center;
}

/*Configurações dos itens da lista*/
.nav-list{
    display: flex; /* -> transforma em flexbox*/
    color: slategray;
    /*justify-content: space-between;*/
    list-style-type: none; /*tira os atributos/pontos de lista*/
    letter-spacing: 1px;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
}

.nav-list li{
    /*display: flex;*/
    /*justify-content: space-around;*/
    /*align-items: center;*/
    margin-left: 30px;
}

/*configurações da div "caixa"*/
.container{
    display: flex;
    /*background: white;*/
    /*align-items: center;*/
    justify-content: space-evenly;/*ajusta os itens na página*/
    margin-top: 0;
}

/*configurações do que esta dentro da div "caixa*/
.item{
    display: flex;
    background: oklch(55.6% 0 0);
    width: 600px;
    height: 600px;
    /*justify-content: space-evenly;*/

}

/*configurações das imagens*/
figure{
    /*width: 450px;*/
    /*height: auto;*/
    display: flex;
    justify-content: flex-start;
    /*margin: 35px 75px 0 0;*/
}

/*configuração da div da imagem*/
.img{
    display: flex;
    /*width: 300px;*/
    height: 450px;
    /*margin: 0 0 0 0;*/

}

/*.img:hover{*/
/*    opacity: 0.5;*/
/*}*/

/*Titulo do card do filme*/
.titulo-div{
    /*background-color: blueviolet;*/
    border-bottom: rgb(0, 0, 0, 0.1) solid;
    background-color: oklch(44.4% 0.177 26.899);
    display: flex;
    width: 600px;
    height: 10%;
    justify-content: center; /*coloca o titulo no centro*/
    /*flex-direction: row;*/
    align-items: center;
    font-family: "Yu Gothic UI Semibold";
    /*color: oklch(13% 0.028 261.692);*/
    color: black;
    font-size: 28px;
    /*opacity: 0.8;*/

}

.titulo-div:hover{
    opacity: 0.8;
    /*text-decoration: underline;*/
    /*color: darkred;*/
    /*background: oklch(55.6% 0 0);*/
    /*background-color: darkred;*/
    color: white;
}

/*Tags do genero do filme*/
.tag-li{
    /*background-color: darkred;*/
    /*border-bottom: rgb(0, 0, 0, 0.2) solid;*/
    display: flex;
    justify-content: center;
    gap: 23px;
    margin: 0 0 0 0;
    color: oklch(13% 0.028 261.692);
    background-color: oklch(44.2% 0.017 285.786);
    /*opacity: 0.8;*/
    /*list-style-type: none;*/
    font-size: 15px;
    padding: 0;
    /*width: 100%;*/
    height: 30px;
    align-items: center;
}

/*Banner com as datas das temps*/
.banner{
    /*background-color: beige;*/
    /*background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);*/
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 85px;
    /*align-items: flex-start;*/
}

h3{
    margin: 10px 0 0 75px;
    font-size: 15px;
    color: lightgray;
    /*color: black;*/
}

h1{
    margin-left: 75px;
    color: lightgray;
    /*color: black;*/
    font-size: 35px;
}


/*Div descrição filme*/
.sinopse {
    /*background-color: rosybrown;*/
    display: block;
    /*border-bottom: rgb(0, 0, 0, 0.1) solid;*/
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    height: 300px;
    justify-content: end;
    box-sizing: border-box ; /*nao deixa o padding alterar a largura e coloca a descrição embaixo da sinopse*/
    padding: 12px;
}

.sinopse:hover{
    overflow-y: auto ;
}

.sinopse-titulo{
    /*background-color: blueviolet;*/
    border-bottom: rgb(0, 0, 0, 0.1) solid;
    display: flex;
    justify-content: center;
    width: 100%; /*ocupa toda largura da classe lado direito*/
    height: 35px;
    text-align: center;
}

.sinopse p{
    font-family: "Arial", sans-serif;
    color: oklch(13% 0.028 261.692);
    font-size: 12pt;
    text-align: justify;
    line-height: 1.5;
    /*text-indent: 1.5cm;*/

}

.lado-direito{
    display: flex;
    flex-direction: column;
    width: 100%;
    /*background-color: darkblue;*/

}

/*DIV PAI da sinopse, Sinopse titulo*/
.conteudo-filme{
    display: flex;
    justify-content: space-between;
}

/*Configs do rodape do card*/
.rodape-card{
    display: flex;
    justify-content: flex-start;
    gap: 18px;
    align-items: center;
    height: 11%;
    background-color: oklch(44.2% 0.017 285.786);
}

.rodape-img{
    width: 35px;
    height: 35px;
    border-radius: 50%;

}

.rodape-img:hover{
    opacity: 0.5;

}

.rodape-txt{
    font-family: "Arial", sans-serif;
    color: oklch(13% 0.028 261.692);
    font-size: 15pt;
    line-height: 1.5;
    margin-left: 25px;
}

/*.descricao-direito{*/
/*    !*background-color: rosybrown;*!*/
/*    !*border-top: rgb(0, 0, 0, 0.1) solid;*!*/
/*    !*border-bottom: rgb(0, 0, 0, 0.1) solid;*!*/
/*    !*gap: 10px;*!*/
/*    !*height: 125px;*!*/
/*    !*margin: 6px;*!*/
/*    !*padding: 6px;*!*/
/*}*/

.descricao-li{
    color: oklch(37.9% 0.146 265.522);
    gap: 2px;
    font-size: 11pt;
    margin-left: 6px;
}

.descricao-li:hover{
    /*opacity: 0.9;*/
    text-decoration: underline;
    cursor: pointer;

}

.ficha-tecnica{
    display: flex;
    justify-content: flex-start;
    /*gap: 2px;*/
    /*background-color: orange;*/
    width: 100%;
    height: 45%;
    align-items: center;
    border-top: rgb(0, 0, 0, 0.1) solid;
    /*padding-left: 6px;*/
    /*margin-left: 6px;*/
}

.ficha{
    /*display: flex;*/
    /*background-color: darkblue;*/
    border-bottom: rgb(0, 0, 0, 0.1) solid;
    width: 100%;
    height: 109px;
}






