.carrossel{
    width: 70.5%;
    overflow-x: auto; /*cria a barra de scroll dentro da pagina*/
    display: flex;
    gap: 1.5em;
    margin: 2.5em auto; /*centraliza o carrosel*/
    /*background-color: oklch(37% 0.013 285.805);*/
    border-radius: 15px;
    scroll-behavior: smooth;
    anchor-name: --carrossel; /*define uma ancora*/
    scroll-snap-type: x mandatory; /*pra qual lado o carrosel vai girar*/

}

/*esconde a barra de scroll que fica embaixo dos cards*/
.carrossel::-webkit-scrollbar {
    display: none;
}

/*cria o botão para mover o card*/
.carrossel::scroll-button(right), .carrossel::scroll-button(left) {
    content: '→';
    border: none;
    background-color: darkred;
    font-size: 3rem;
    color: white;
    font-family: Consolas;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding-bottom: .1em; /*centralzia a seta*/
    cursor: pointer;
    position: fixed;
    position-anchor: --carrossel; /*posição que a ancora vai ter*/
    position-area: right center; /*posição relativa a ancora*/
    translate: -50%; /*posicao da seta*/

}

/*cria o botão para mover o card*/
.carrossel::scroll-button(left) {
    content: '←';
    position-area: left center; /*posição relativa a ancora*/
    translate: 50%; /*posicao da seta*/
}

.carrossel::scroll-button(right):disabled, .carrossel::scroll-button(left):disabled {
    opacity: 0.5;
    cursor: auto;
}

.card-content{
    scroll-snap-align: start; /*força o começo no próximo card*/
    flex: 0 0 20em;
    /*height: 30em;*/
    padding: 1em; /*1em = 16px*/
    /*border-radius: 1em;*/
    /*text-align: center; !*alinha no centro*!*/
    align-content: center; /*alinha no meio*/
    transform: translateY(10px);/*efeito de zoom no card*/

}

.card-content:hover{
    transform: translateY(0); /*efeito de zoom no card*/
    cursor: pointer;
    transition: all .5s;
}

.img1 img, .img2 img, .img3 img, .img4 img, .img5 img, .img6 img, .img7 img, .img8 img, .img9 img, .img10 img, .img11 img, .img12 img{
    width: 100%;
    display: flex;
    border-radius: 4%;
    opacity: 0.7;

}

.img1 img:hover, .img2 img:hover, .img3 img:hover, .img4 img:hover, .img5 img:hover, .img6 img:hover, .img7 img:hover, .img8 img:hover, .img9 img:hover, .img10 img:hover, .img11 img:hover, .img12 img:hover{
    opacity: 1;
    cursor: pointer;
    transition: all .6s;
}

h2 a {
    color: oklch(13% 0.028 261.692);
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    padding: 0 0 0 10px;
    font-size: 25px;
    background-color: blueviolet;

}


.banner-top-filmes{
    display: flex;
    /*justify-content: space-evenly;*/
    flex-direction: column;
    /*background-color: darkred;*/
    width: 83em;
    height: 500px;
    /*padding: 5em;*/
    margin: 2.5em auto; /*centraliza no meio do site*/
    /*gap: 30px;*/

    .botao{
        display: inline-flex;
        align-items: center;
        gap: 10px;
        color: white;
        text-decoration: none;
        font-size: 32px;
        font-weight: bold;
        transition: 0.3s;
        /*background-color: #f5c518;*/
        margin-bottom: 10px;
        padding-left: 10px;


    }

    .botao::before{
        content: "";
        width: 5px;
        height: 50px;
        background-color: darkred;
        border-radius: 10px;

    }

    .botao::after{
        content: ">";
        color: white;
        transition: 0.3s;
        font-size: 40px;

    }

    .botao:hover::after{
        opacity: 0.8;
        color: darkred;

    }

}

.cards-container{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}

.card{
    width:600px;
    background: dimgray;
    border-radius:18px;
    padding:14px;
    display:flex;
    gap:20px;
    color:white;
    /*box-shadow:0 10px 30px rgba(0,0,0,0.5);*/

        img{
            width:240px;
            height:345px;
            border-radius:14px;
        }

        .content{
            display:flex;
            flex-direction:column;
            justify-content:space-evenly;
            padding: 5px;
            /*background-color: #4ea1ff;*/
        }

        .ranking{
            background: darkred;
            color:white;
            padding:4px 10px;
            border-radius:8px;
            font-weight:bold;
            display:inline-block;
            margin-bottom:12px;
        }

        h1{
            font-size:30px;
            margin-bottom:12px;
            /*background-color: #e5e5e5;*/
        }

        .info{
            display:flex;
            gap:16px;
            color:#b5b5b5;
            margin-bottom:10px;
            font-size:18px;
            /*background-color: #b5b5b5;*/

            ul {
                display: flex;
                align-items: center;
                gap: 16px;

                li {
                    display: flex;
                    justify-content: flex-start;
                    font-size: 15px;
                    letter-spacing: 0.5px;

                }

                .score{
                    background-color: green;
                    color: white;
                    width: 24px;
                    border-radius: 3px;
                    font-size: inherit;
                    font-family: inherit;
                    padding: 3px;


                    span{
                        display: flex;
                        align-items: center;
                        font-size: 13px;
                        gap: 5px;
                        padding-left: 5px ;
                        /*background-color: #f5c518;*/

                    }
                }
            }
        }

        .rating{
            display: flex;
            flex-direction: row;
            gap: 20px;
            color:#f5c518;
            font-size:18px;
            margin-bottom:10px;

        }

        .descricao-card{
            color:#e5e5e5;
            line-height:1.3;
            font-size: 15pt;
        }



    }
